# Copia este archivo a .env y completa tus credenciales
WABA_PHONE_NUMBER_ID=YOUR_PHONE_NUMBER_ID
WABA_TOKEN=YOUR_ACCESS_TOKEN
GMAIL_USER=tu_email@gmail.com
GMAIL_PASS=tu_app_password # usa contraseña de aplicación de Gmail
EMAIL_FROM=tu_email@gmail.com
PORT=3000
